extends layout

block content
  h1= title
  div(class="mainContainer" id="mainContainer" class="front")
    div(id="banner" class="section")
      h2 booksFly
      img(src='/images/banner.jpg')
    div(id="gates" class="section")
      p Ease to buy, and sell Greater value recuperation, Fast transactions on campus
      a(href="SignUpGet") Sign Up  
      a(href="loginGet") Login In
